**List_remove_append**

Description: Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

In [3]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list[-1] = "SPARK"
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

**String to List Conversion**

Description: Convert a string input_str = 'I love Data Science & Python' to a list by splitting it on ‘&’. The sample output for this string will be:

In [4]:
input_str = 'I love Data Science & Python'
output_list = input_str.split("&")
output_list

['I love Data Science ', ' Python']

**List to String Conversion**

Description: Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:

In [6]:
#Method 1
input_list = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
output_str = " & ".join(input_list)
output_str

'Pythons syntax is easy to learn & Pythons syntax is very clear'

In [10]:
#Method 2
#Crude method (Not efficient)
o_str = ""
for i in range(len(input_list)):
  if i > 0:
    o_str += " & " + input_list[i]
  else:
    o_str += input_list[i]

o_str

'Pythons syntax is easy to learn & Pythons syntax is very clear'

**Nested List**

Description: Extract Python from a nested list
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [13]:
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
print("Method 1: ", input_list[2][0]) #Method 1
print("Method 2: ", input_list[-1][0]) #Method 2

Method 1:  Python
Method 2:  Python

**It's time to disco**

Description: t = ("disco", 12, 4.5)

What is the output of t[0][1]

Solution: It will be "i"

In [14]:
t = ("disco", 12, 4.5)
t[0][1]

'i'

**String Palindrome**

Description: Write a program to check whether a string is a palindrome or not. Print 1 if the string is a palindrome and 0 otherwise.

Input: Any string
Output: 1 if the string is palindrome, 0 otherwise.

In [20]:
word = "ABCDCBAD"

if word[::-1] == word:
  print(1)
else:
  print(0)

0

**Reverse Words**

Description: You will be given a sentence in the form of a string. You have to reverse the order of the words in the sentence. Remember not to reverse the individual words, but the order of words. 

Check the sample input-output for further clarification.
Input: A string, which will consist of a few spaces.
Output: The words in reverse order

In [25]:
org = "You will be given a sentence in the form of a string"
#Reversing a sentence keeping word as it is
org_list = org.split(" ")
print(" ".join(org_list[::-1]))

#Reversing a sentence (Assuming this is not what is being asked for)
#print(org[::-1])

string a of form the in sentence a given be will You
gnirts a fo mrof eht ni ecnetnes a nevig eb lliw uoY

**String Formatting**

Description: Write a program that satisfies below examples:


Input 1: caloRie ConsuMed
Output 1: calorie_consumed


Input 2: data science
Output 2: data_science


Input 3: datascience
Output 3: datascience

In [29]:
org_statement = "datascience"
"_".join(org_statement.lower().split(" "))

'datascience'

**Multiple Choice Questions:**

1. How will you extract ‘love’ from the string S = “I love Python”? (More than one option may be correct.).


a. S[2:5]

b. S[2:6]

c. S[3:7]

d. S[-11:-7]

e. S[-11:-8]

**Ans: b -> S[2:6], d -> S[-11:-7]**


2. What will the output of 3 * 3 ** 3 be?

a. 9

b. 27

c. 81

d. 729

**Ans: c -> 81**


3. What will the output be of ((500//7) % 5) ** 3?

a. 1

b. 2.91

c. 71.42

d. 0

e. 8

**Ans: a -> 1**


4. If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?

a. (3, 5, 7, 9, 11)

b. (9, 3, 5, 7, 11)

c. (3, 5, 7, 11, 9)

d. Error

**Ans: d -> Error**


6. What will the output of the following code be?

```
l = [32, 34, 12, 27, 33]
l.append((14,19))
print(len(l))
```

a. 5

b. 6

c. 7

d. The code will throw an error

**Ans: b -> 6 **


7. Which of the following statements is incorrect regarding sets in Python?

a. Sets do not contain duplicate elements

b. Sets are represented using curly braces {}

c. Sets are immutable

d. All of the above

**Ans: d -> All of the above**


8. What will the output be of the following code?
```
D = {1: ["Raj", 22], 2:["Simran",21], 3:["Rahul",40]}
for val in D:
    print(val)
```

a. 1
2
3

b. [‘Raj’, 22]
[‘Simran’, 21]
[‘Rahul’, 40]

c. 1 [‘Raj’, 22]
2 [‘Simran’, 21]
3 [‘Rahul’, 40]

d. ‘Raj’
‘Simran’
‘Rahul’

**Ans: A -> 1 2 3**


9. What will the ‘comprehension equivalent’ be for the following snippet of code?
```
for sentence in paragraph:
    for word in sentence.split():
      single_words_list.append(word)
```

a. word for sentence in paragraph for word in sentence.split()

b. [word for sentence in paragraph for word in sentence.split()]

c. word for word in sentence.split() for sentence in paragraph

d. [word for word in sentence.split() for sentence in paragraph]

**Ans: b -> [word for sentence in paragraph for word in sentence.split()]**



10.What will be the output of this code?

```
print(list(range(10,1,-1)))
```

a. [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

b. [9, 8, 7, 6, 5, 4, 3, 2]

c. [9, 8, 7, 6, 5, 4, 3, 2, 1]

d. [10, 9, 8, 7, 6, 5, 4, 3, 2]

**Ans: d -> [10, 9, 8, 7, 6, 5, 4, 3, 2]**